.login {
  background: #fff;
  /* margin: 200px 0 40px 0; */
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: stretch;
}

button {
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

form span {
  color: #ff8080;
  padding-top: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

h1 {
  width: 100%;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #555;
}

input {
  border: none;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 8px;
}

input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}

input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}

input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}

textarea {
  border: none;
  background-color: #f0f0f0;
  border-radius: 8px;
  border-color: #f0f0f0;
  padding: 8px;
}

textarea::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}

textarea::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}

textarea::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}

.bottomPadding {
  padding-bottom: 24px;
}

.username {
  width: auto;
  flex-grow: 1;
  text-align: left;
  padding: 8px;
}

:focus-visible {
  outline: #212121 auto 1px;
}

.open {
  margin-top: 0px;
  background-color: transparent;
  color: #212121;
  border: none;
  box-shadow: none;
  font-weight: bold;
}

.submit {
  padding-top: 8px;
}

.submitButton {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  flex-grow: 1;
  border: none;
  padding: 16px;
  border-radius: 16px;
  background-color: #66cc99;
}

.clearButton {
  color: #212121;
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0px 16px;
}

button.help:hover {
  text-decoration: underline;
}

button.help:hover p {
  text-decoration: none;
}

.help {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  font-weight: 600;
  /* margin-top: 12px; */
}

.help p {
  padding-right: 4px;
  font-weight: 400;
}

p {
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.flex {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.row {
  align-items: center;
  flex-direction: row;
  display: flex;
}

.row.help {
  justify-content: center;
}

button.help {
  align-items: center;
  padding-top: 3px;
}

.bottom {
  padding-top: 16px;
  align-items: center;
  justify-content: center;
}

.logout {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  font-weight: 600;
  margin-top: 16px;
}

.open:hover,
.clearButton:hover,
.logout:hover {
  text-decoration: underline;
}

#app-container {
  height: 100%;
}

.main {
  background: #fff;
  /* margin: 200px 0 40px 0; */
  position: relative;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  padding: 16px 16px 16px;
  flex-grow: 1;
  align-items: stretch;
  height: 100%;
}

.form {
  flex-grow: 1;
}

form button {
  background-color: #333;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  padding: 8px;
  margin-top: 12px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
}

.success {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
}

.success span {
  color: #66cc99;
  padding-top: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.oneMore {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  color: #333;
  font-weight: 600;
  padding: 12px;
  margin-top: 12px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
}
